
<?xml version="1.0" encoding="UTF-8"?>
 
2 <configuration>
 
3   <system.webServer>
 
4     <handlers>
 
5       <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
 
6     </handlers>
 
7     <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
 
8         arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\demo.jar&quot;">
 
9     </httpPlatform>
 
10   </system.webServer>
 
11 </configuration>
 


